{% extends 'news_app/base.html' %}
{% load static %}

{% block title %}{{ title }} - News App{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'news_app/articles.css' %}">
<link rel="stylesheet" href="{% static 'news_app/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="form-container">
        <div class="form-header">
            <h1 class="form-title">{{ title }}</h1>
            <p class="form-subtitle">Fill in the details below</p>
        </div>
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            
            <div class="form-actions">
                <button type="submit" class="btn-submit">Save Article</button>
                <a href="{% url 'my_articles' %}" class="btn-cancel">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}
